<div class="flex flex-col flex-auto min-w-0">
    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <!-- CONTENT GOES HERE -->
        <fuse-card class="p-4">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    <span>{{ node.name }}</span>
                </mat-tree-node>
                <mat-tree-node
                    *matTreeNodeDef="let node; when: hasChild"
                    matTreeNodePadding
                >
                    <button
                     class="flex items-center"
                        mat-icon-button
                        matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.name"
                    >
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{
                                treeControl.isExpanded(node)
                                    ? "expand_more"
                                    : "chevron_right"
                            }}
                        </mat-icon>
                       <span> {{ node.name }}</span>
                    </button>
                </mat-tree-node>
            </mat-tree>
        </fuse-card>
    </div>
</div>
