
<div class="flex flex-col mt-8 px-4 w-full">
    
    <div class="py-2 -my-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
        <div *ngIf="activeModalRegCompra == false && activeModificar == false">


            <div class="flex flex-col w-full lg:w-1/2">
                <label>Fecha:</label>
                <select class="input-secondary">
                    <option selected> Todo</option>
                    <option>Úlitmos 3 meses</option>
                    <option>Últimos 6 meses</option>
                    <option>2023</option>
                    <option>2022</option>
                    <option>2021</option>
                </select>
            </div>
        </div>


        <div class="flex flex-wrap">
            <div class="w-full">
                <div *ngIf="activeModalRegCompra == false && activeModificar == false">
                    <ul class="flex flex-col mb-0 list-none lg:flex-wrap pt-3 pb-4 lg:flex-row">
                        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                            <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                                (click)="toggleTabs(1)"
                                [ngClass]="{'text-blue-600 bg-white': openTab !== 1, 'text-white bg-blue-600': openTab === 1}">
                                <i class="fas fa-space-shuttle text-base mr-1"></i> Creados
                            </a>
                        </li>
                        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                            <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                                (click)="toggleTabs(2)"
                                [ngClass]="{'text-blue-600 bg-white': openTab !== 2, 'text-white bg-blue-600': openTab === 2}">
                                <i class="fas fa-cog text-base mr-1"></i> Confirmados
                            </a>
                        </li>
                        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                            <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                                (click)="toggleTabs(3)"
                                [ngClass]="{'text-blue-600 bg-white': openTab !== 3, 'text-white bg-blue-600': openTab === 3}">
                                <i class="fas fa-briefcase text-base mr-1"></i> Aprobados
                            </a>
                        </li>
                        <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
                            <a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal"
                                (click)="toggleTabs(4)"
                                [ngClass]="{'text-blue-600 bg-white': openTab !== 4, 'text-white bg-blue-600': openTab === 4}">
                                <i class="fas fa-briefcase text-base mr-1"></i> Cancelados
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">

                    <div class="px-4 py-5 flex-auto">

                        <div *ngIf="activeModalRegCompra == true">
                            <app-detallepedido (eventEmitter)="activeModalRegCompra = $event"
                                *ngIf="activeModalRegCompra == true"></app-detallepedido>
                        </div>
                        <div *ngIf="activeModificar == true">
                            <app-modificarpedido (eventEmitter)="activeModificar = $event"
                                *ngIf="activeModificar == true"></app-modificarpedido>
                        </div>

                        <div  class="tab-content tab-space">
                            <div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
                                <div  *ngIf="activeModalRegCompra == false && activeModificar == false">
                                    <div class="container-table mt-3">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>N° </th>
                                                    <th>Fecha realizada </th>
                                                    <th>Fecha de entrega </th>
                                                    <th>Monto Total </th>
                                                    <th>Nombre empresa </th>
                                                    <th>Vendedor </th>
                                                    <th>Detalle</th>
                                                    <th>Modificar</th>
                                                    <th>Confirmar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td> 05/01/2023 </td>
                                                    <td> 10/01/2023 </td>
                                                    <td> 100.00 </td>
                                                    <td> DEGUSTACIÓN </td>
                                                    <td> BREÑA HILDA RIOS </td>
                                                    <td (click)="activeModalRegCompra = true">
                                                        <div> <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="1.5"
                                                                stroke="currentColor" class="w-6 h-6">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
                                                            </svg>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button (click)="modificar()"
                                                            class="p-2 rounded-lg bg-white hover:bg-slate-100">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                class="w-6 h-6 text-blue-400" fill="none"
                                                                viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                                            </svg>
                                                        </button>
                                                    </td>
                                                    <td (click)="confirmar()">
                                                        <mat-icon svgIcon="heroicons_outline:check"></mat-icon>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
                                <div *ngIf="activeModificar == false">
                                    <div class="container-table mt-3">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>N° </th>
                                                    <th>Fecha realizada </th>
                                                    <th>Fecha de entrega </th>
                                                    <th>Monto Total </th>
                                                    <th>Nombre empresa </th>
                                                    <th>Vendedor </th>
                                                    <th>Detalle</th>
                                                    <th>Modificar</th>
                                                    <th>Cancelar</th>
                                                    <th>Aprobar / Descargar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td> 05/01/2023 </td>
                                                    <td> 10/01/2023 </td>
                                                    <td> 100.00 </td>
                                                    <td> DEGUSTACIÓN </td>
                                                    <td> BREÑA HILDA RIOS </td>
                                                    <td (click)="activeModalRegCompra = true">
                                                        <div> <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="1.5"
                                                                stroke="currentColor" class="w-6 h-6">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
                                                            </svg>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button (click)="modificar()"
                                                            class="p-2 rounded-lg bg-white hover:bg-slate-100">
                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                class="w-6 h-6 text-blue-400" fill="none"
                                                                viewBox="0 0 24 24" stroke="currentColor">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    stroke-width="2"
                                                                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                                            </svg>
                                                        </button>
                                                    </td>
                                                    <td>
                                                        <button (click)="cancelar()"
                                                            class="p-2 rounded-lg bg-white hover:bg-slate-100">
                                                            <mat-icon class="text-red-500"
                                                                svgIcon="heroicons_outline:x"></mat-icon>
                                                        </button>

                                                    </td>
                                                    <td>
                                                        <button (click)="aprobar()"
                                                            class="p-2 rounded-lg bg-white hover:bg-slate-100">
                                                            <mat-icon class="text-green-500"
                                                                svgIcon="heroicons_outline:check"></mat-icon>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
                                <div *ngIf="activeModalRegCompra == false">

                                    <div [ngClass]="" class="container-table mt-3">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>N° </th>
                                                    <th>Fecha realizada </th>
                                                    <th>Fecha de entrega </th>
                                                    <th>Monto Total </th>
                                                    <th>Nombre empresa </th>
                                                    <th>Vendedor </th>
                                                    <th>Detalle</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td> 05/01/2023 </td>
                                                    <td> 10/01/2023 </td>
                                                    <td> 100.00 </td>
                                                    <td> DEGUSTACIÓN </td>
                                                    <td> BREÑA HILDA RIOS </td>
                                                    <td (click)="activeModalRegCompra = true">
                                                        <div> <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="1.5"
                                                                stroke="currentColor" class="w-6 h-6">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
                                                            </svg>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div [ngClass]="{'hidden': openTab !== 4, 'block': openTab === 4}">
                                <div *ngIf="activeModalRegCompra == false">

                                    <div class="container-table mt-3">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>N° </th>
                                                    <th>Fecha realizada </th>
                                                    <th>Fecha de entrega </th>
                                                    <th>Monto Total </th>
                                                    <th>Nombre empresa </th>
                                                    <th>Vendedor </th>
                                                    <th>Detalle</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td> 05/01/2023 </td>
                                                    <td> 10/01/2023 </td>
                                                    <td> 100.00 </td>
                                                    <td> DEGUSTACIÓN </td>
                                                    <td> BREÑA HILDA RIOS </td>
                                                    <td (click)="activeModalRegCompra = true">
                                                        <div> <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                viewBox="0 0 24 24" stroke-width="1.5"
                                                                stroke="currentColor" class="w-6 h-6">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                    d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
                                                            </svg>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>