<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
        <div class="grid grid-cols-1 gap-4">
            <div
                class="p-4 bg-white shadow rounded-lg"
                *ngFor="let i of masterTables"
            >
                <div class="flex">
                    <div class="flex flex-col gap-4 flex-none">
                        <span>
                            <span class="font-bold">Nombre: </span>
                            <span>{{ i.Nombre }}</span>
                        </span>
                        <span>
                            <span class="font-bold">Descripcion: </span>
                            <span>{{ i.Descripcion }}</span>
                        </span>
                    </div>
                    <div class="">
                        <button class="bg-indigo-700 p-1 rounded-lg text-white">
                            <mat-icon svgIcon="heroicons_outline:pencil" class="w-4 h-4">
                            </mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
